*, html, body{
    font-family: 'Josefin Sans', sans-serif;

    margin:0;
    padding:0;

    box-sizing: border-box;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items:center;

    width: 100%;
    height: 100vh;

    background-image: url('images/bg-mobile-light.jpg');
    background-repeat: no-repeat;
    background-size: 100% 53.86666666666667vw;

    background-color: #F1F0F5;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 86.93333333333334vw;
    height: 29.333333333333332vw;
}

#todo-title{
    color:#ffffff;
}

#moon-icon{
    width:6vw;
    height:5.866666666666666vw;

    cursor:pointer;
}

/*Input Design*/

.tasks-container{
    display: flex;
    flex-direction: column;

    width: 86.93333333333334vw;
    height:113.86666666666666vw;

}

.input-container, .options{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 12.533333333333333vw;

    background-color: #ffffff;

    border-radius:1.5vw;
}

#task-input{
    width: 80%;
    height: 8vw;

    border:none;

    outline: none;

    color: hsl(236, 9%, 61%);

    padding-left:4vw;
}

.checkbox-design{
    display: none;

    width: 10vw;
}
.checkbox-design:checked .circle{
    background:linear-gradient(hsl(192, 100%, 67%) , hsl(280, 87%, 65%));

}

.circle{
    width: 5.333333333333333vw;
    height: 5.333333333333333vw;

    background-color: #ffffff;

    border:0.5px solid hsl(236, 9%, 61%);
    border-radius: 5.333333333333333vw;

    opacity: 30%;

    margin-bottom: 0.7vw;

    cursor:pointer;

    z-index:21;

    transition: all 0.5s ease;
}

.circle:visited{
    background:linear-gradient(hsl(192, 100%, 67%) , hsl(280, 87%, 65%));

    opacity:100%;

    border:none;

}

.circle > img{
    width: 3.2vw;
    height: 3vw;

    margin-left:1vw;
    margin-top:1.2vw;
}


/*Tasks*/

.new-old-task-container{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 87.2vw;
    height:98.13333333333334vw;

    border-radius: 1.5vw;

    background-color: #ffffff;

    margin-top:4.533333333333333vw;
}
.task{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;

    border-bottom:1px solid #E6E5EA;

    width: 100%;
    height:14.4vw;

    z-index: 19;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    width: 68%;

    margin-left:0.4vw;

    z-index:20;
}

.content > p{
    color: #000;

    font-size:3.2vw;

    margin-left:4.5vw;

    text-align: start;

    inline-size:80%;

    word-wrap: break-word;
}

.task > .close{
    cursor: pointer;
}

.task-information{
    border:0;
}

.task-information > p{
    font-size:3vw;

    color:hsl(236, 9%, 61%);
}

/*options*/
.options{
    width: 86.5%;
    height: 14.4vw;

    margin-top:6vw;
}
.options > a{
    font-size:4vw;

    margin-left:3vw;

    text-decoration: none;

    color:hsl(236, 9%, 61%);
}

#drop-and-drog{
    color:hsl(236, 9%, 61%);
    font-size:3vw;

    margin-top:15vw;
}